<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs - Create</title>
</head>
<body>
    <h1>Share you'r thoughts here...</h1>
    <form action="" method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" id=""><br>
        Description: <textarea name="description" id=""></textarea><br>
        Picture: <input type="file" name="blogpic" id=""><br>
        <button type="submit">Upload!</button>
    </form>
</body>
</html>