<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup here...</h1>
    <form action="" method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name" id=""><br>
        Email: <input type="email" name="email" id=""><br>
        Role: <select name="role" id="role">
            <option for="role">Admin</option>
            <option for="role">Bloger</option>
            <option for="role">Common User</option>
        </select><br>
        Profile Picture: <input type="file" name="profilepic" id=""><br>
        Password: <input type="password" name="password" id=""><br>
        <button type="submit">Signup!</button>
    </form>
</body>
</html>